<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <title>Edit</title>
    <style>
        .customborder {
            border-radius: 2%;
            border: 2px solid #E95420;

        }
    </style>
</head>

<body>
    <div class="container">
        <h3 class="text-center p-3">Edit User :-</h3>
        <div style="margin: 0 auto;" class="col-12 col-md-6 col-lg-5 p-5 customborder">
            <form action="/admin/user/edit/<%= q._id %>" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="userName" value="<%= q.name %>">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="userAddmission" value="<%= q.admissionNo %>">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="userSec" value="<%= q.sec %>">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="userFee" value="<%= q.feePaid %>">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-block btn-outline-primary" value="Update">
                </div>
            </form>
        </div>
    </div>

</body>

</html>